<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Luffy is my hero.</p>

    <!-- Add your GIF here -->
    <img src="https://giffiles.alphacoders.com/350/35056.gif" alt="Smiling GIF">

  </div>
</div>

<%- include('partials/footer') %>